@font-face {
    font-family: Dosis-Regular;
    src: url(../fonts/Dosis-Regular.ttf);
}
@font-face {
    font-family: Dosis-Light;
    src: url(../fonts/Dosis-Light.ttf);
}
@font-face {
    font-family: Dosis-Bold;
    src: url(../fonts/Dosis-Bold.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}
.navbar {
    font-family: Dosis-Bold; 
}
.lagalerie {
    margin-top: 10px;
}
h1 {
    font-family: Dosis-Bold;
}
h2 {
    font-family: Dosis-Bold;
}
h3 {
    font-family: Dosis-Bold;
}
h4 {
    font-family: Dosis-Bold;
}
h5 {
    font-family: Dosis-Bold;
}
p {
    font-family: Raleway-Medium;
}
.btn {
    font-family: Raleway-Medium;
}
.grid-container {
    display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 25% 25%;
    justify-content: center;
    margin-top: 50px;
}
.dropdown-item {
    font-family: Dosis-Regular;
}
.einstieg {
    text-align: center;
    margin-top: 20px;
}
.lagalerie {
    text-align: center;
    margin-top: 20px;
}
.ueberunsbutton {
    justify-content: right;
}
.carousel {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
}
div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    width: 250px;
    float: left;
  }
  
  div.gallery:hover {
    border: 1px solid purple;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  #container {
    width: 1110px; margin: 0 auto;
  }
  div.gallery_logo {
    margin-top: 20px;
    margin: 10px;
    width: 250px;
    float: left;
  }
  div.gallery_logo img {
    width: 100%;
    height: auto;
  }
  .h2abstand {
      margin-top: 40px;
      margin-bottom: 20px;
  }
  .video {
    position: relative;
    margin: 0 auto;
  }
  .h2abstandskills {
    margin-bottom: 20px;
  }
.progress {
    margin-top: 10px;
    font-family: Raleway-Medium;
}
.progress_end {
    margin-bottom: 30px;
}
.cs_logo {
    max-width: 200px;
    margin-bottom: 10px;
}